html {
    font-size: 16px;
}

p,ol,ul {
    font-size: 20px;
}

#slideshow > div > div > footer > a {
/*a.foot-note-color {*/
    color: #735993 !important;
    background-color: transparent !important;
    text-decoration: unset !important;
}

#fn1, .footnote-item > p {
    font-size: 12px;
}
